doctype html
html
  head
    title 00008996
    link(rel='stylesheet' href='/static/main.css')

  body
    header.header
      h1.logo Notes App

      nav.nav
        a(href = '/all-notes ') All notes
        a(href = '/archive ')  Archive

    block content
