:root {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: tomato;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid #ccc;
}

.nav > a {
	display: inline-block;
	padding: 10px 20px;
}

.logo {
	padding: 10px 20px;
}